<!DOCTYPE html>
<html lang="ko">

<head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <meta name="description" content="">
 <meta name="author" content="">

 <title>Diary</title>

 <!-- Bootstrap core CSS -->
 <link type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

 <!-- Custom styles for this template -->
 <link type="text/css" href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

</head>


<body class="bg-f2f2f2 text-dimgray">

 <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
   <a class="navbar-brand" href="#"><img class="nav-logo" src="{{url_for('static', filename='img/logo_img/logo.png')}}" alt="" /></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
     <li class="nav-item">
      <a class="nav-link page-nav-link" id="logout_btn" href="{{url_for('logout')}}">Log out</a>
     </li>
    </ul>
   </div>
  </div>
 </nav>

 <div class="content-bg">
  <div class="text-center">
   <img class="diary-title-img mb-4" src="{{url_for('static', filename='img/diary_title.png')}}" alt="" />
  </div>

  <div class="text-center">
   <!-- 일기/계획의 날짜 적히는 부분, 민영이한테 여기 날짜 띄워줄 수 있는지 물어보기 -->
   <div class="content_date pt-3 pb-3">{{data}}</div>

   {% if tmp!=""%}
   <textarea class="txt-content" id="diarycontent">{{tmp}}</textarea>
   {%else %}
   <div class="loading">
    <textarea class="txt-content" id="diarycontent" maxlength="500"></textarea>
   </div>
   {% endif %}
  </div>

  <!-- div 태그 닫힘 관련해서 질문하기 -->
  <div class="page-btn">
   {% if tmp != "" %}
   <div id="append">
    <input class="edit_btn" id="diary_edit_btn" type="button" value="edit">
   </div>
   <div class="float-right">
    <input class="del_btn" id="diary_del_btn" type="button" value="delete">
    {% else%}
    <div class="float-right">
     <input class="sv_btn" id="diary_sv_btn" type="button" value="save">
     {%endif%}
     <a href="{{url_for('calendar')}}">back</a>
    </div>
   </div>
  </div>
<!-- Footer -->
 <footer class="lead py-5">
  <div class="container">
   <p class="m-0 text-center text-dimgray"><br /><br /><br /><br /><br />데이스피릿, 세종대학교 대한민국<br />
team 7 think big: 한지원 라수빈 이민영 맹지원<br />
email: wldnjs20725@naver.com<br />
COPYRIGHT BY 2020 Daysprit<br /></p>
  </div>
  <!-- /.container -->
 </footer>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

  <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>
